.modules-header.lesson-pg {
    margin-bottom: 0;
    margin-top: 16px;
}

.back-to-modules {
    width: 30px;
    display: flex;
    justify-content: center;
    padding: 5px;
    transition: 0.25s ease;
    border-radius: 5px;
}

.back-to-modules img {
    width: 18px;
}

.back-to-modules:hover {
    background-color: #d0d0d0;
    border: none;
}

.lesson-banner {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #cecece;
    margin-top: 16px;
}

.lesson-banner.module1 {
    background: radial-gradient(
        circle at center,
        rgba(210, 235, 255, 0.9) 0%,
        rgba(220, 245, 255, 0.7) 38%,
        rgba(230, 248, 255, 0.45) 58%,
        rgba(240, 252, 255, 0.25) 68%,
        transparent 82%
    );
}

.lesson-banner.module2 {
    background: radial-gradient(
        circle at center,
        rgba(255, 140, 70, 0.9) 0%,
        rgba(255, 180, 120, 0.55) 40%,
        rgba(255, 220, 190, 0.25) 60%,
        transparent 78%
    );
}

.lesson-banner.module3 {
    background: radial-gradient(
        circle at center,
        rgba(220, 247, 255, 0.9) 0%,
        rgba(220, 247, 255, 0.6) 35%,
        rgba(235, 250, 255, 0.35) 55%,
        rgba(245, 252, 255, 0.2) 65%,
        transparent 80%
    );
}

.lesson-banner.module4 {
    background: radial-gradient(
        circle at center,
        rgba(255, 165, 95, 0.8) 0%,
        rgba(255, 200, 150, 0.5) 45%,
        rgba(255, 235, 210, 0.3) 65%,
        transparent 80%
    );
}

.lesson-banner.module5 {
    background: radial-gradient(
        circle at center,
        rgba(200, 235, 255, 0.85) 0%,
        rgba(220, 245, 255, 0.6) 38%,
        rgba(235, 250, 255, 0.35) 58%,
        transparent 78%
    );
}

.lesson-banner.module6 {
    background: radial-gradient(
        circle at center,
        rgba(255, 120, 50, 0.95) 0%,
        rgba(255, 165, 105, 0.6) 38%,
        rgba(255, 210, 180, 0.3) 58%,
        transparent 75%
    );
}

.lessons-list-header-employer {
    display: flex;
    width: 95%;
    justify-content: space-between;
    font-weight: 700;
    color: #727272;
    font-size: 12px;
    background-color: #fbfeff;
    border: 1px solid #badee9;
    border-radius: 10px;
    padding: 8px;
}

.lessons-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

.list-header-section.lsn {
    margin-left: 24px;
}

.filler-space {
    height: 150px;
}