@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

.attachment-item {
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 500;
    gap: 7px;
    padding: 30px 10px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.attached-file-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.attached-file-icon img {
    width: 30px;
}