.hero {
  padding-top: 140px;  
  padding-bottom: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  font-size: 100px;
  line-height: 0.9;       
  letter-spacing: 0.01em;
  color: #000000; 
  text-align: center;
  margin: 0 0 28px;
  display: inline-block;       /* IMPORTANT */
  transform: scaleX(1.05);
}

.hero-highlight {
  font-weight: 400; 
  letter-spacing: -0.01em;
  color: #6ecff6;
}


.desc {
  text-align: center;
  margin: 0 auto 36px;
}

.desc p {
  margin: 0;
  margin-top: 16px;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}

.desc p + p {
  margin-top: 6px;
}

.blue {
    color: #70D2F0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.cta-primary,
.cta-secondary {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 26px;
  border-radius: 999px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.cta-primary {
  background: #0b87f3;
  color: white;
  border: 2px solid #0b87f3;
}

.cta-primary:hover {
  background-color: white;
  border: 2px solid #0b87f3;
  color: #0b87f3;
  transition: 0.25s ease, transform 0.15s ease;
}

.cta-secondary {
  background: transparent;
  color: #22313f;
  border: 2px solid #22313f;
  transition: 0.25s ease, transform 0.15s ease;
}

.cta-secondary:hover {
  color: #0b87f3;
  padding: 14px 26px;
  border: 2px solid #0b87f3;
}
