.lesson-edit-button {
    position: relative;
    width: 20px;
    height: 20px;             
    line-height: 1;         
    box-sizing: border-box;  
    background-color: #FF844F;
    border: 1px solid #FF844F;
    border-radius: 50%;
    display: inline-flex;   
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: 0.2s ease;
}  

.lesson-edit-button:hover {
    position: relative;
    border: 1px solid #FF844F;
    background-color: white;
}

.lesson-edit-button.selected {
    position: relative;
    border: 1px solid #FF844F;
    background-color: white;
}

.edit-button-icon {
    position: absolute;
    inset: 0;
    width: 24px;
    height: 24px;
    margin-left: 3px;
    margin-top: 2px;
}

.edit-button-icon.default {
    opacity: 1;
}

.edit-button-icon.selected {
    opacity: 0;
}

.lesson-edit-button:hover .edit-button-icon.selected {
    opacity: 1;
}

.lesson-edit-button.selected .edit-button-icon.selected {
    opacity: 1;
}

.lesson-edit-button:hover .edit-button-icon.default {
    opacity: 0;
}