.it-div {
    margin-top: 20px;
}
.iv-wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    align-items: center;
    min-height: 260px;
    position: relative;
}

.link-wrapper {
    height: 100%;
    width: 40%;
}

.gen-link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid #FF9E76;
    color: #FF9E76;
    background-color: white;
    border-radius: 10px;
    transition: 0.2s ease;
    width: 100%;
}

.link-swap {
    position: relative;
    width: 40px;
    height: 40px;
}

.link-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.link-icon.default {
    opacity: 1;
    width: 40px;
    height: 40px;
}

.link-icon.hover {
    opacity: 0;
    width: 40px;
    height: 40px;
}

.gen-link-btn:hover {
    border: 1px solid #FF9E76;
    background-color: #FF9E76;
    color: white;
}

.gen-link-btn:hover .link-icon.default {
    opacity: 0;
}

.gen-link-btn:hover .link-icon.hover {
    opacity: 1;
}

.download-btn {
    border: 1px solid #FF9E76;
    color: #FF9E76;
    background-color: white;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.download-swap {
    position: relative;
    width: 30px;
    height: 30px;
}

.download-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.download-icon.default {
    opacity: 1;
    width: 30px;
}

.download-icon.hover {
    opacity: 0;
    width: 30px;
}

.download-btn:hover {
    border: 1px solid #FF9E76;
    background-color: #FF9E76;
    color: white;
}

.download-btn:hover .download-icon.default {
    opacity: 0;
}

.download-btn:hover .download-icon.hover {
    opacity: 1;
}

.qr-code-share {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.qr-code-share img {
    width: 200px;
}

.img-wrapper {
    border: 1px solid #3792AE;
    padding: 2px;
    border-radius: 5px;
}

.divider {
    width: 2px;
    height: 100%;
    background-color: #e6e6e6;
    position: absolute;
}

.il-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lw-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    text-align: center;
    line-height: 1.1;
    margin-top: 20px;
}

.lw-div img {
    width: 80px;
    height: 80px;
}

.lw-div h3 {
    margin: 10px;
    font-weight: 600;
}

.lw-div p {
   color: #9C9C9C;
}

.lw-div button {
    margin-top: 30px;
    width: 80%;
    border: 1px solid #FF9E76;
    color: #FF9E76;
    background-color: white;
    transition: 0.2s ease;
}

.lw-div button:hover {
    border: 1px solid #FF9E76;
    color: white;
    background-color: #FF9E76;
}