.lesson-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    align-items: stretch;
    padding: 0px 10px;
    overflow: hidden;
    max-height: 300px;
    transition: max-height 1000ms ease;
    background-color: white;
    transition: 0.2s ease;
}

.lesson-card.locked {
    background-color: rgb(243, 243, 243);
}

.lock-warning {
    margin: 0;
    color: rgb(137, 137, 137);
    font-weight: 600;
}

.lesson-card.expanded {
    max-height: 3000px;
    /*box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    transform: scale(1.01);*/
}

.lesson-card-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.lesson-info {
    font-size: 12px;
}

.lesson-title-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px
}

.lesson-name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    padding-left: 0;
}

.lesson-tag {
    color: #919191;
    margin: 0;
}

.lesson-title {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.lesson-meta-wrapper {
    display: flex;
    gap: 20px;
}

.lesson-skills {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.lesson-skills.time {
    flex-wrap: none;
    flex-direction: row;
    width: 63px;
}

.lesson-skills img {
    width: 12px;
    display: flex;
}

.add-skill-popover-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-skill {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #F0FEED;
    color: #259800;
    font-size: 8px;
    padding: 3px 7px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.add-skill:hover {
    background-color: #d8f0d2;
}   

.lesson-due {
    margin-left: 85px;
}

.lesson-duration  {
    color: #a3a2a2;
}

.lesson-due  {
    color: #a3a2a2;
}

.lesson-due.employee {
    margin-right: 130px;
}

.lesson-duration.employee {
    margin-right: 160px;
}

.lesson-status.employee {
    margin-right: 55px;
}

.lesson-status {
    border-radius: 20px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 3px 7px;
}

.lesson-status-dot {
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

.lesson-status.Pending {
    background-color: #FEEDED;
    color: #DC2626;
}

.lesson-status.Pending .lesson-status-dot {
    background-color: #DC2626;
}

.lesson-status.Progress {
    background-color: #EDF5FE;
    color: #3083FF;
}

.lesson-status.Progress .lesson-status-dot {
    background-color: #3083FF;
}

.lesson-status.Done {
    background-color: #F0FEED;
    color: #259800;
}

.lesson-status.Done .lesson-status-dot {
    background-color: #259800;
}

.lesson-status.Locked {
    opacity: 0;
}

.expand-btn {
    height: 50px;
    display: flex;
    width: 70px;
    justify-content: center;
    background-color: white;
}

.expand-btn:hover {
    background-color: #d0d0d0;
    border: none;
}

/*
.lesson-card:has(.builder-action:hover) {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    transform: scale(1.01);
}

.lesson-card:has(.lesson-action-btn:hover) {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    transform: scale(1.01);
}*/

.expand-btn.expanded img {
    width: 70%;
}

.expand-btn img {
    width: 60%;
}

.lesson-action-btn {
    height: 50px;
    display: flex;
    width: 70px;
    justify-content: center;
    background-color: white;
}

.lesson-action-btn:hover {
    background-color: #d0d0d0;
    border: none;
}

.lesson-action-btn {
    font-size: 12px;
    align-items: center;
    height: 30px;
}

.lesson-action-btn.Continue {
    color: white;
    background-color: #FF7F4A;
    border: 1px solid #FF7F4A;
    transition: 0.2s ease;
}

.lesson-action-btn.Continue:hover {
    border: 1px solid #FF7F4A;
    color: #FF7F4A;
    background-color: white;
}

.lesson-action-btn.Begin {
    color: #FF7F4A;
    background-color: #FFD7C6;
    border: 1px solid #FFD7C6;
    transition: 0.2s ease;
}

.lesson-action-btn.Begin:hover {
    border: 1px solid #FFD7C6;
    background-color: white;
}

.lesson-action-btn.Review {
    color: #FF7F4A;
    border: 1px solid #FF7F4A;
    transition: 0.2s ease;
}

.lesson-action-btn.Review:hover {
    border: 1px solid #FF7F4A;
    background-color: #FF7F4A;
    color: white;
}

.lesson-action-btn.Locked {
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: rgb(243, 243, 243);
}

.lesson-action-btn.Locked:hover {
    border: none;
    background-color: rgb(243, 243, 243);
    cursor: not-allowed;
}

.lesson-action-btn img {
    width: 16px;
    display: flex;
}

.expanded-settings-text {
    font-size: 12px;
    color: #323232;
    margin: 1;
}

.expanded-settings-text.label {
    font-size: 13px;
    font-weight: 500;
}   

.radio-setting {
    margin: 10px;
}

.custom-input {
    border-bottom: 1px solid #b6b6b6;
    background: none;
    width: 70px;
    font-size: 12px;
    color: #767676;
}

.custom-input::placeholder {
    font-size: 12px;
}

.check-setting {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.lesson-card-expanded {
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 10px;
}

.action-panel {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    width: 100%;
}

.action-panel-left {
    display: flex;
    gap: 10px;
}

.expanded-settings-label {
    font-size: 12px;
    font-weight: 500;
    padding: 0px 20px;
}

.eval-wrapper {
    display: flex;
}

.eval-left {
    flex: 1;
}

.eval-box {
    border-radius: 5px;
    padding: 10px 10px;
    margin: 20px;
    margin-top: 0px;
}

.eval-box p {
    margin: 0;
}

.eval-box.strengths {
    background-color: #D7F5D9;
}

.eval-box.shortcomings {
    background-color: #FCDEDE;
}

.eval-box.overall {
    background-color: #FFE3D8;
    flex: 1;
    align-self: flex-start;
}

.eval-label {
    font-size: 11px;
    font-weight: 600;
}

.eval-label.green {
    color: #328B38;
}

.eval-label.red {
    color: #B54E4E;
}

.eval-label.orange {
    color: #FF7F4D;
}

.expanded-settings-text.black {
    color: black;
    font-size: 11px;
}

.employee-action-panel {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.local-action-panel {
    display: flex;
    gap: 10px;
    padding-right: 10px;
}

.local-action-panel img {
    width: 14px;
}

.local-action-panel .builder-action {
    width: 36px;
    height: 36px;
}

.slider-setting {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.slider-labels {
    margin-top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.check-setting.eval {
    display: flex;
    flex-direction: column;
}

.date-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    width: 20%;
}

.date-picker {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.sim-settings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px;
    padding-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    color: #323232;
    gap: 7px;
}

.sim-settings img {
    display: flex;
    align-items: center;
    justify-content: center;
}
  