.ob-main-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 15px;
}

.stepper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 15px;
}

.step {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.step-line {
    height: 3px;
    background-color: #ddd;
    margin-bottom: 8px;
    border-radius: 2px;
    width: 100%;
}

.step-line.active {
    background-color: #70D2F0; 
}

.step-label {
    font-size: 10px;
    color: #999;
}

.step-label.current {
    color: #000;
    font-weight: 500;
}

.step-contents {
    flex: 1;                
    overflow-y: auto;     
    padding-right: 8px;  
    height: 100%;   
}

.next-section-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.next-section-btn {
    cursor: pointer;
    max-width: 150px;
    display: flex;
    justify-content: center;
    transition: 0.25s ease, transform 0.15s ease;
    padding: 5px;
    border-radius: 5px;
    gap: 20px;
}

.next-section-btn:hover {
    background-color: #f4f4f4;
}

.next-section-text {
    color: #FF4B00;
    font-weight: 600;
}

.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-icon img {
    width: 20px;
}

.back-btn {
    font-size: 10px;
    cursor: pointer;
}

