.employee-action-panel.module {
    padding-right: 0px;
}

.list-header-section.employee.dur {
    opacity: 0;
}

.modules-header.lesson-pg.employee {
    border: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.modules-header-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modules-header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
}

.simulation-lessons-top {
    background-color: white;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding: 18px;
}

.module-meta-bottom {
    display: flex;
    gap: 30px;
}

.module-meta-item {
    display: flex;
    gap: 7px;
    font-size: 14px;
}

.module-meta-item img {
    display: flex;
    width: 20px;
}

.difficulty-pill.employee {
    font-size: 14px;
}

.simulation-lessons-bottom {
    padding: 18px;
}

.inactive-banner {
    background-color: #fff1f1;
    border-radius: 5px;
    font-size: 11px;
    color: rgb(162, 90, 90);
    font-weight: 500;
    margin-top: 10px;
    display: flex;
    position: relative;
    overflow: hidden;
    width: 70%;
}

.inactive-streak {
    height: 100%;
    width: 2px;
    background-color: rgb(228, 85, 85);
    position: absolute;
    z-index: 5;
}

.inactive-banner-content {
    padding: 7px;
}

.inactive-banner span {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    color: rgb(228, 85, 85);;
}

.inactive-banner .hint-circle {
    margin: 7px;
    margin-right: 0;
    margin-left: 15px;
}