.feature-2 {
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
}

h3 {
    font-weight: 400;
    font-size: 30px;
}

.feat2-image {
    width: 100%;
}

.feat2-image.resize {
    width: 90%;
}

.dashed-divider {
    width: 100%;
    border-top: 2px dashed black;
    margin: 40px 0;
}
  