.video-lesson-page {
    display: flex;
    width: 100%;
    height: calc(100vh - 64px);
    overflow: hidden;
}

.back-to-lessons.video {
    width: 100%;
    display: flex;
}

.video-portion {
    width: 60%;
    background-color: #ffffff;
    border-right: 1px solid #eee;
    padding: 18px;
    overflow-y: auto;
    height: 100%;
}

.video-portion.part-screen {
    width: 70%;
}

.video-lesson-header {
    width: 100%; 
    display: flex;
    gap: 20px;
}

.vid-title {
    color: black;
}

.video-title h1 {
    margin: 0;
    font-size: 20px;
}

.video-wrapper {
    width: 100%;
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.play-button.for-video {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 42%;
}

.video-under {
    display: flex;
    flex-direction: column;
}

.video-under-tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.video-under-tab {
    padding: 7px 16px;
    color: #A5A5A5;
    cursor: pointer;
}

.video-under-tab.active {
    color: black;
    font-weight: 500;
    border-bottom: 2px solid #4CC3E8;
}

.video-under-content {
    height: 40vh;
    display: flex;
    justify-content: center;
}

.video-under-notes {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.video-under-notes {
    height: 100%;
    margin-bottom: 20px;
    overflow-y: auto;
}

.video-under-notes textarea {
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    font-family: Instrument Sans, system-ui, sans-serif;
    resize: none;
    min-height: 44px;       
    max-height: 140px;
    overflow-y: auto; 
}

.video-under-notes textarea:focus {
    outline: none;
    box-shadow: none;
}
  
.video-under-notes textarea:focus-visible {
    outline: none;
}

.ai-transcript-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-summaries {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding-top: 0;
    width: 40%;
    /*position: fixed;*/
    right: 0;
    /*height: calc(100vh - 64px);*/
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    height: calc(100vh - 64px);
    position: relative;
}

.section-summaries h3 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.summary-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 13px;
    font-weight: 500;
    cursor: pointer;
    border-top: 1px solid #eee;
    justify-content: space-between;
}

.summary-tab:hover {
    background-color: #f8fbfd;
}

.summary-left-wrapper {
    display: flex;

}

.summary-left {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.summary-number {
    font-size: 10px;
    padding: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FAD9CC;
    color: #FF4B00;
}

.summary-title {
    font-size: 12px;
    margin-left: 20px;
    text-align: left;
    font-weight: 500;
    height: 100%;
}

.summary-title h4, .summary-title p {
    margin: 0;
}

.summary-title h4 {
    font-size: 12px;
    font-weight: 500;
}

.summary-title p {
    font-weight: 400;
    font-size: 10px;
    font-family: monospace;
    color: #888;
}

.summary-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.summary-right img {
    width: 22px;
}


.selected-summary-chat {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}

.selected-summary-chat .summary-title {
    font-size: 12px;
    margin-left: 0;
}

.selected-summary-chat .summary-left {
    display: flex;
    width: 100%;
    margin-top: 12px;
    gap: 10px;
}

.selected-summary-chat .ai-panel-chat-space {
    flex: 1;
    overflow-y: auto;     
    min-height: 0;
    background-color: #f8fbfd;
}

.view-transcript-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-transcript-btn {
    font-size: 14px;
    padding: 7px 0px;
    width: 50%;
    color: #b0b0b0;
    transition: 0.2s ease;
}

.view-transcript-btn:hover {
    background-color: #eee;
    border: none;
    color: #4CC3E8;
}

.ai-side-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin: 10px;
    font-weight: 500;
    color: #999;
}

.ai-side-title.smaller {
    font-size: 14px;
    font-weight: 500;
}

.ai-side-title .view-transcript-btn {
    width: 40%;
    padding: 3px 0px;
    font-size: 11px;
}

.back-to-sections {
    color: #FF4B00;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
    gap: 5px;
    padding-left: 7px;
}

.back-to-sections img {
    width: 14px;
}

.back-to-sections:hover {
    text-decoration: underline;
    cursor: pointer;
}

.summary-title-wrapper {
    padding: 10px;
    padding-top: 0;
    border-bottom: 1px solid #eee;
}

.transcript-icon {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f8fbfd;
}

.transcript-icon img {
    width: 16px;
}

.summary-title.transcript h4 {
    font-weight: 400;
    color: #4b4b4b;
}

.summary-title.transcript p {
    font-weight: 400;
    font-family: 'Instrument Sans';
    color: #888;
}

.summary-chatbar-wrapper {
    display: flex;
    background-color: white;
    border-top: 1px solid #eee;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 35px;
}

.selected-top {
    background-color: white;
    width: 100%;
    flex-shrink: 0;
    padding-top: 10px;
}