.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
    background: white;
    margin: 0;
}

.navbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 20px;
  
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    pointer-events: none;
  }

.logo-div {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo {
    width: 60px;
    height: 55px;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.logo:hover {
    filter: drop-shadow(0 0 25px rgba(112, 210, 240, 0.8));
    transform: scale(1.03);
}

.nav-div {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
    max-width: 900px;
}

.login-div {
    display: flex;
    align-items: center;
    padding: 16px;
}

.login-button {
    border-radius: 20px;
    background-color: #FFBC70;
    color: white;
    margin-bottom: 10px;
    transition: 0.25s ease, transform 0.15s ease;
}

.login-button:hover {
    background-color: white;
    color: #FFBC70;
    border-color: #FFBC70;
    border-width: 2px;
}

.hyper-link {
    transition: 0.25s ease, transform 0.15s ease;
}

.hyper-link:hover {
    color: #70D2F0;
}
