.lesson-abstract-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: 16px;
    transition: 0.2s ease;
}

.lesson-abstract-item:hover {
    transform: scale(1.01);
}

 /*
.lesson-abstract-branch {
    width: 20px;
    height: 2px;
    background: #d0d0d0;
    margin-top: 40px;
    z-index: 1;
}*/


.lesson-abstract-card {
    background-color: #DCF7FF;
    flex: 1;
    background: #e8f8ff;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

.lesson-abstract-card p {
    font-size: 12px;
    color: #767676;
    margin: 2px;
}

.lesson-abstract-item-name {
    font-weight: 600;
}