.simulation-page {
    display: flex;
    justify-content: space-between;
    padding: 0;       
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.sim-page-wrapper {
    width: 100%;
    height: 100%;
}


.simulation-page.employer {
    height: 92vh;
}

.chat-section {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.sim-info {
    width: 30%;
    background-color: white;
    border-left: 1px solid #eee;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.info-body {
    flex: 1; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0;
}

.sim-info h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.sim-info p {
    margin-bottom: 5px;
    font-size: 12px;
}

.select-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    background-color: #f8fbfd;
    border: 1px solid #eee;
    font-size: 13px;
    border-radius: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    height: 35px;
    position: relative;
    cursor: pointer;
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
}

.selector {
    position: absolute;
    background-color: white;
    border: 1px solid #eee;
    height: 30px;
    border-radius: 20px;
    width: 50%;
    margin-left: 3px;
    margin-right: 3px;
    left: 0;
    z-index: 0;
    transition: transform 0.25s ease;
}

.select-option {
    position: relative; 
    z-index: 2;
    height: 30px;
    border-radius: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888888;
    font-size: 13px;
    gap: 5px;
}

.select-panel.premise .select-option.premise,
.select-panel.feedback .select-option.feedback {
    color: #000000;
}

.select-panel.feedback .selector {
    transform: translateX(96%);
}

.select-option p {
    position: relative;
    margin: 0;
}

.select-swap {
    position: relative;
    width: 16px;
    height: 16px;
}

.select-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.select-icon.premise {
    opacity: 0;
}

.select-icon.premise.unselected {
    opacity: 1;
}

.select-icon.premise.selected {
    opacity: 1;
}

.select-icon.feedback {
    opacity: 0;
}

.select-icon.feedback.unselected {
    opacity: 1;
}

.select-icon.feedback.selected {
    opacity: 1;
}

.premise-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 65vh;
    width: 95%;
}

.feedback-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 65vh;
    overflow-y: auto;
    scrollbar-width: none;
}
  
.feedback-info::-webkit-scrollbar {
    display: none;                  
}

.sim-prompt {
    font-weight: 600;
}


.score-section {
    border: 1px solid #C6C6C6;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.score-content {
    margin-top: 10px;
}

.strengths-check {
    color: #296d0c;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #d4f1c8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strengths-check img {
    height: 20px;
    width: 20px;
}

.strengths-card {
    display: flex;
    gap: 5px;
}

.strength-content {
    width: 90%;
}

.strength-description {
    font-weight: 400;
}

.sim-action-panel {
    display: flex;
    padding: 5px;
    gap: 5px;
    margin-top: 20px;
    justify-content: space-evenly;
    width: 100%;
}

.feedback-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.feedback-info.empty {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.score-section p {
    font-size: 11px;
}

.score-divider {
    height: 1px;
    width: 95%;
    background-color: #C6C6C6;
    margin-top: 2px;
}

.score-content {
    font-size: 12px;
    color: #727272;
}

.rating-section {
    display: flex;
    align-items: center;
    gap: 5px;
}

.msg-icon {
    display: flex;
}

.rating-section h3 {
    margin: 0;
}

.suggestion-section {
    font-size: 11px;
    border: 1px solid #C6C6C6;
    padding: 15px;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.suggestion-title {
    margin: 2px;
    margin-top: 0;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.blue-dot {
    background-color: #70D2F0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.green-dot {
    background-color: #3e9f49;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.suggesiton-thread-wrapper {
    height: 20px;
}

.suggestion-thread-line {
    width: 1px;
    background-color: #C6C6C6;
    z-index: 1;
    height: 100%;
    margin-left: 17px;
}

.current-msg-wrapper {
    position: relative;
}

.current-msg {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #C6C6C6;
    color: #727272;
    z-index: 2;
}

.current-msg-content {
    padding: 7px;
    margin-bottom: 10px;
}

.improved-msg {
    display: flex;             
    background-color: white;
    border-radius: 10px;
    border: 1px solid #C6C6C6;
    color: #000;
    z-index: 2;
    overflow: hidden;
    border-left: none;
}

.improved-msg-wrapper {
    position: relative;
}

.improved-msg-content {
    padding: 7px;
    margin-bottom: 10px;
}

.blue-thing {
    width: 15px;
    background-color: #70D2F0;
    border-radius: 4px;
}

.msg-label {
    position: absolute;
    display: inline-block;
    background-color: #F2F2F2;
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    padding: 0px 5px;
    bottom: -7%;
    right: 5%;
    display: flex;
    gap: 6px;
}

.improved-msg-wrapper .msg-label {
    color: #62c4e1;
}

.trend-icon {
    display: flex;
}

.action-wrap-sim.employer {
    cursor: not-allowed;
}

.generating-pg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-references-modal-wrapper {
    padding: 5px;
    width: 100%;
    display: flex;
    height: 100%;
}

.view-references-modal-body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
    transition: width 0.25s ease;
    height: 100%;
}

.view-references-modal-body.collapsed {
    width: 30%;
}

.reference-item-wrapper {
    display: flex;
    padding: 7px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.reference-item-wrapper:hover {
    background-color: #eee;
}

.reference-item-wrapper.selected {
    background-color: #eee;
}

.reference-item-wrapper .doc-name {
    font-size: 16px;
}

.reference-item-wrapper .doc-icon.builder img {
    width: 26px;
    height: 26px;
    display: flex;
}

.view-references-modal-body > .reference-item-wrapper:last-child {
    border-bottom: none;
}

.ref-viewer {
    width: 70%;
    height: 100%;
    overflow-y: auto;
    padding: 5px;
    padding-left: 10px;
}

.ref-viewer iframe, .ref-viewer img {
    width: 100%;
    height: 100%;
}

.ref-viewer img {
    width: 100%;
}

.ref-viewer img {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* BRIEFING PAGE */

.briefing-page {
    background-color: white;
}

.brief-pg-top {
    display: flex;
    padding: 10px 7px;
    gap: 10px;
    border-bottom: 1px solid #eee;
}

.bold-txt {
    font-weight: 500;
}

.blue-txt {
    color: #70D2F0;
}

.briefing-lesson-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.briefing-lesson-header {
    display: flex;
    flex-direction: column;
}

.briefing-lesson-label {
    color: rgb(94, 94, 94);
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

.briefing-lesson-title {
    margin: 0;
    color: black;
    font-size: 22px;
}

.briefing-lesson-meta {
    display: flex;
    font-size: 12px;
    gap: 16px;
    margin-top: 10px;
}

.briefing-lesson-content {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
    gap: 20px;
}

.sim-progress {
    display: flex;
    align-items: center;
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 600;
}

.sim-progress .dot {
    background-color: #c6c6c6;
}

.sim-progress .dot.active {
    background-color: #FF4B00;
}

.briefing-content-label {
    color: #8e8e8e;
    font-size: 13px;
}

.briefing-section {
    font-size: 14px;
}

.briefing-character-profile {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0;
    gap: 10px;
}

.briefing-character-dp {
    background: #ecbfb2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.briefing-character-name {
    font-size: 14px;
    font-weight: 600;
}

.briefing-character-label {
    font-size: 12px;
    font-weight: 400;
}

.briefing-premise {
    font-size: 14px;
}

.briefing-goals {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.briefing-goal {
    font-size: 14px;
    display: flex;
    gap: 7px;
}

.goals-check {
    color: #FF4B00;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff4f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF4B00;
    font-size: 11px;
}

.briefing-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding-bottom: 30px;
}

.briefing-meta {
    display: flex;
    flex-direction: column;
}

.briefing-meta-item {
    display: flex;
    font-size: 12px;
    gap: 5px;
}

.briefing-meta-item img {
    width: 16px;
}

.briefing-meta-item.small-type {
    color: #8e8e8e;
}