.action-button {
    height: 36px;    
    line-height: 1;         
    box-sizing: border-box;  
    background-color: #FF4B00;
    border: 1px solid #FF4B00;
    border-radius: 5px;
    display: inline-flex;   
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: 0.2s ease;
    color: white;
    gap: 5px;
    font-size: 12px;
}  

.action-button:hover {
    border: 1px solid #FF4B00;
    background-color: #F9F9F9;
    color: #FF4B00;
}

.action-button.selected {
    border: 1px solid #FF4B00;
    background-color: #F9F9F9;
    color: #FF4B00;
}

.an-action-swap {
    position: relative;
    width: 16px;
    height: 16px;  
}

.an-action-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.an-action-icon.default {
    opacity: 1;
}

.an-action-icon.hover {
    opacity: 0;
}

.action-button:hover .an-action-icon.hover {
    opacity: 1;
}

.action-button.selected .an-action-icon.hover {
    opacity: 1;
}

.action-button:hover .an-action-icon.default {
    opacity: 0;
}

.action-button.deploy {
    margin: 20px;
    padding: 10px;
}

.action-button.deploy.disabled {
    background-color: #f5f5f5;
    color: #FF4B00;
}

.action-button.deploy.disabled:hover {
    background-color: #dedede;
}