.action-button {           
    line-height: 1;         
    box-sizing: border-box;  
    background-color: #FF4B00;
    border: 1px solid #FF4B00;
    border-radius: 5px;
    display: inline-flex;   
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: 0.2s ease;
    color: white;
    gap: 5px;
    font-size: 12px;
}  

.action-button:hover {
    position: relative;
    border: 1px solid #FF4B00;
    background-color: #F9F9F9;
    color: #FF4B00;
}

.action-button.selected {
    position: relative;
    border: 1px solid #FF4B00;
    background-color: #F9F9F9;
    color: #FF4B00;
}

.action-swap {
    position: relative;
    width: 16px;
    height: 16px;  
}

.action-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.action-icon.default {
    opacity: 1;
}

.action-icon.hover {
    opacity: 0;
}

.action-button:hover .action-icon.hover {
    opacity: 1;
}

.action-button.selected .action-icon.hover {
    opacity: 1;
}

.action-button:hover .action-icon.default {
    opacity: 0;
}