/* Same base layout as Employer dashboard */
.dashboard {
    display: flex;
}

.main {
    margin-left: 240px;         
    overflow: hidden;            
    display: flex;
    flex-direction: column;
}
  
.topbar {
    position: fixed;
    top: 0;
    height: 60px;               
    z-index: 100;
    background: white;
    border-bottom: 1px solid #eee;
}
  
.content {
    margin-top: 64px;           
    padding: 18px;
    overflow-y: auto;
    flex: 1;
}

.sidebar-icon-swap.sim {
    position: relative;
    width: 19px;
    height: 19px;  
}