/* Same base layout as Employer dashboard */
.dashboard {
    display: flex;
    min-height: 100vh;
}

.main {
    margin-left: 240px;         
    overflow: hidden;            
    display: flex;
    flex-direction: column;
    flex: 1;
}
  
.topbar {
    position: fixed;
    top: 0;
    height: 60px;               
    z-index: 100;
    background: white;
    border-bottom: 1px solid #eee;
}
  
.content {
    margin-top: 60px;
    padding: 18px;
    overflow-y: auto;
    flex: 1;
}

.content.employee.no-padding {
    padding: 0;
}

.sidebar-icon-swap.sim {
    position: relative;
    width: 19px;
    height: 19px;  
}

.workspace-title {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 7px;
    padding-left: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.workspace-label {
    line-height: 1.1;
}

.workspace-title h4 {
    font-weight: 600;
    margin: 0;
}

.workspace-title p {
    margin: 0;
    font-size: 12px;
    color: #767676;
    font-weight: 500;
}

.workspace-title .avatar {
    width: 36px;
    height: 36px;
}