@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');

.home-page {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 100px;
    font-family: Instrument Sans, system-ui, sans-serif;
  }
  
.bg-blobs {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
}
  
.blob {
    position: absolute;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background: #70D2F0;
    opacity: 0.35;
    filter: blur(120px);
}

.blob-1 {
    top: 25%;
    left: -250px;
}

.blob-2 {
    top: 5%;
    right: -140px;
}

.blob-3 {
    bottom: 40%;
    right: -350px;
}
  