.how-it-works {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner {
    width: 70%;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #e5e7eb; 
    margin: 3rem 0;
}

.left {
    flex: 1
}

.head {
    width: 100%;
    display: flex;
}

.left h1 {
    line-height: 0.9;
    margin: 0;
    font-weight: 350;
    font-size: 100px;
    letter-spacing: 0.02em;
    transform: scaleX(1.05);
}

.right {
    flex: 1;
    margin-right: 200px;
    width: 60%;
}

.right p {
    font-size: 20px;
    line-height: 1.5;
}

.cta-lm {
    background-color: #5B6CFF;
    color: white;
    border-radius: 25px;
    transition: 0.25s ease, transform 0.15s ease;
}

.cta-lm:hover {
    background-color: white;
    color: #5B6CFF;
    border-width: 2px;
    border-color: #5B6CFF;
}
  