.module-card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 20px;
    position: relative;
}
  
  
.card-top {
    display: flex;
    justify-content: space-between;
}
  
.thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: repeating-linear-gradient(
        45deg,
        #fcd34d,
        #fcd34d 8px,
        #fde68a 8px,
        #fde68a 16px
    );
}
  
.edit-btn {
    background: transparent;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    gap: 4px;
    padding-bottom: 3px;
}

.edit-btn img {
    margin-top: 1px;
    width: 12px;
}

.edit-btn:hover {
    border-color: #f97316;
    color: #f97316;
}

.edit-swap {
    position: relative;
    width: 12px;
    height: 12px;
}

.edit-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.edit-icon.default {
    opacity: 1;
}

.edit-icon.hover {
    opacity: 0;
}

.edit-btn:hover .edit-icon.hover {
    opacity: 1;
}

.card-content {
    margin-top: 12px;
}

.subtitle {
    color: #f59e0b;
    font-weight: 600;
    font-size: 14px;
}

.desc {
    font-size: 13px;
    color: #6b7280;
    margin: 4px 0;
    text-align: left;
}

.card-content h3 {
    margin: 10px 0;
    font-size: 15px;
    font-weight: 600;
}

.meta-div {
    display: flex;
    gap: 12px;
    font-size: 12px;
    color: black;
    margin-bottom: 10px;
}

.meta-icon img {
    width: 15px;
    margin-top: 2px;
}

.meta-item {
    display: flex;
    align-items: flex-start;
}

.deploy-btn {
    background: #FF4B00;
    color: #fff;
    border: 1px solid #FF4B00;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 7px;
    transition: 0.2s ease;
}

.deploy-btn:hover {
    background: white;
    border: 1px solid #FF4B00;
    color: #FF4B00;
}

.deploy-btn.deployed {
    background-color: #f5f5f5;
    color: #f97316;
}

.deploy-btn.deployed:hover {
    background-color: #dedede;
}

.deployed-label-div {
    display: flex;
    gap: 10px;
}

.rocket-swap {
    position: relative;
    width: 15px;
    height: 15px;
}

.rocket-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.rocket-icon.default {
    opacity: 1;
}

.rocket-icon.hover {
    opacity: 0;
}

.deploy-btn:hover .rocket-icon.hover {
    opacity: 1;
}