.module-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 10px;
    position: relative;
    width: 300px;
    height: auto;
}
  
.card-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
  
.banner {
    width: 100%;
    height: 100px;
    border-radius: 10px;
}

.banner.module1 {
    background: radial-gradient(
        circle at center,
        rgba(210, 235, 255, 0.9) 0%,
        rgba(220, 245, 255, 0.7) 38%,
        rgba(230, 248, 255, 0.45) 58%,
        rgba(240, 252, 255, 0.25) 68%,
        transparent 82%
    );
}

.banner.module2 {
    background: radial-gradient(
        circle at center,
        rgba(255, 140, 70, 0.9) 0%,
        rgba(255, 180, 120, 0.55) 40%,
        rgba(255, 220, 190, 0.25) 60%,
        transparent 78%
    );
}

.banner.module3 {
    background: radial-gradient(
        circle at center,
        rgba(220, 247, 255, 0.9) 0%,
        rgba(220, 247, 255, 0.6) 35%,
        rgba(235, 250, 255, 0.35) 55%,
        rgba(245, 252, 255, 0.2) 65%,
        transparent 80%
    );
}

.banner.module4 {
    background: radial-gradient(
        circle at center,
        rgba(255, 165, 95, 0.8) 0%,
        rgba(255, 200, 150, 0.5) 45%,
        rgba(255, 235, 210, 0.3) 65%,
        transparent 80%
    );
}

.banner.module5 {
    background: radial-gradient(
        circle at center,
    rgba(200, 235, 255, 0.85) 0%,
    rgba(220, 245, 255, 0.6) 38%,
    rgba(235, 250, 255, 0.35) 58%,
    transparent 78%
    );
}

.banner.module6 {
    background: radial-gradient(
        circle at center,
        rgba(255, 120, 50, 0.95) 0%,
        rgba(255, 165, 105, 0.6) 38%,
        rgba(255, 210, 180, 0.3) 58%,
        transparent 75%
    );
}
  
.edit-btn {
    background: transparent;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    gap: 4px;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-right: 5px;
}

.edit-btn img {
    margin-top: 1px;
    width: 12px;
}

.edit-btn:hover {
    border-color: #f97316;
    color: #f97316;
}

.edit-swap {
    position: relative;
    width: 12px;
    height: 12px;
}

.edit-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.edit-icon.default {
    opacity: 1;
}

.edit-icon.hover {
    opacity: 0;
}

.edit-btn:hover .edit-icon.hover {
    opacity: 1;
}

.card-content {
    margin-top: 12px;
}

.subtitle {
    color: #f59e0b;
    font-weight: 600;
    font-size: 14px;
}

.desc {
    font-size: 13px;
    color: #6b7280;
    margin: 4px 0;
    text-align: left;
}

.card-content h3 {
    margin: 10px 0;
    font-size: 15px;
    font-weight: 600;
}

.meta-div {
    display: flex;
    gap: 12px;
    font-size: 12px;
    color: black;
    margin-bottom: 10px;
}

.meta-icon img {
    width: 15px;
    margin-top: 2px;
}

.meta-item {
    display: flex;
    align-items: flex-start;
}

.module-card-bottom {
    display: flex;
    align-items: end;
    gap: 15px;
}

.module-card-btn {
    background: #FF4B00;
    color: #fff;
    border: 1px solid #FF4B00;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 7px;
    transition: 0.2s ease;
}

.module-card-btn:hover {
    background: white;
    border: 1px solid #FF4B00;
    color: #FF4B00;
}

.module-card-btn.deployed {
    background-color: #f5f5f5;
    color: #f97316;
}

.module-card-btn.deployed:hover {
    background-color: #dedede;
}

.module-card-btn-label-div {
    display: flex;
    gap: 10px;
}

.module-action-swap {
    position: relative;
    width: 15px;
    height: 15px;
}

.module-action-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.module-action-icon.default {
    opacity: 1;
}

.module-action-icon.hover {
    opacity: 0;
}

.module-card-btn:hover .module-action-icon.hover {
    opacity: 1;
}