.file-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.file-item {
    display: flex;
    gap: 20px;
    width: 100%;
}

.file-icon img {
    width: 40px;
}

.file-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.file-name {
    font-size: 10px;
}

.progress-bar {
    display: grid;
    background-color: white;
    gap: 5px;
    grid-template-columns: 1fr auto;
}

.bar-wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #EBEBEB;
    height: 2px;
    border-radius: 25px;
}

.bar-fill {
    background-color: #45BBA6;
    height: 100%;
    border-radius: 25px;
    transition: width 800ms ease;
}

.progress-amt {
    font-size: 10px;
    color: #45BBA6;
    font-weight: 600;
}