.skill-popover-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.skill-item {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #b6f2f9;
    color: #00A6FF;
    font-size: 8px;
    padding: 3px 7px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    width: 100%;
    z-index: 1;
}

.skill-item:hover {
    background-color: #a7e0e6;
}